@{
    ViewBag.Title = "UploadFile";
}
<h2>UploadFile</h2>
@using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message

    </div>
    <div>
        <a href='@Url.Action("UploadedFiles", "Upload")'>Uploaded Files</a>
        <br />
        <a href='@Url.Action("click", "Upload")'>click (TEST)</a>
    </div>
}